# Backend
bharat-yatra-backend/node_modules/
bharat-yatra-backend/.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Optional: ignore backend uploaded files
bharat-yatra-backend/uploads/*
!bharat-yatra-backend/uploads/.gitkeep