MONGO_URI=mongodb://localhost:27017/bharat-yatra
JWT_SECRET=supersecretjwt
PORT=5000
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL="Bharat Yaatra <onboarding@resend.dev>"
ADMIN_EMAIL=bharatyatra001@gmail.com
